@model IList<DevOpsDemo.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Home Page Release 5.0";
}

<div class="row">
    <h2>Employee List: Release 5.0</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Project</th>
                <th>Designation</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Project)</td>
                    <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
